{{ partial:partials/top-head }}

<!--Organization service section-->
<section id="service-type" class="service-type">
	<div class="container">
		<div class="service-type-item">
			<div class="single-service-type-item">

				<div class="row">
					{{ get_content from="cc56dd64-404f-44b8-a8a3-92ddb28f56a9" }}
					<div class="col-md-5 col-sm-12">
						<div class="service-type-img">
							{{ service_type_image }}
							<img src="{{ url }}">
							{{ /service_type_image }}
						</div><!--/.service-type-img-->
					</div>
					<div class="col-md-7 col-sm-12">
						<div class="service-type-txt">
							<h2><a href="{{ url }}">{{title}}</a></h2>
							<p>
								{{description}}
							</p>
							<button class="welcome-btn service-type-btn" onclick="window.location.href='{{ url }}'">
								詳細はこちらから
							</button>
						</div><!--/.service-type-txt-->
					</div><!--/.col-->
					{{ /get_content }}
				</div><!--/.row-->

			</div><!--/.single-service-type-item-->
		</div><!--/.service-type-item-->
	</div><!--/.container-->

</section><!--/.service-type-->
<!--service-type end -->

<section id="service-type" class="service-type">
	<div class="container">
		<div class="service-type-item">
			<div class="single-service-type-item">

				<div class="row">
					{{ get_content from="6b63e9c3-0a52-4ca6-ad70-b4b68b4a12ab" }}
					<div class="col-md-7 col-sm-12">
						<div class="service-type-txt">
							<h2><a href="{{ url }}">{{ title }}</a></h2>
							<p>
								{{description}}
							</p>
							<button class="welcome-btn service-type-btn" onclick="window.location.href='{{ url }}'">
								詳細はこちらから
							</button>
						</div><!--/.service-type-txt-->
					</div><!--/.col-->
					<div class="col-md-5 col-sm-12">
						<div class="service-type-img">
							{{ service_type_image }}
							<img src="{{ url }}">
							{{ /service_type_image }}
						</div><!--/.service-type-img-->
					</div>
					{{ /get_content }}
				</div><!--/.row-->

			</div><!--/.single-service-type-item-->
		</div><!--/.service-type-item-->
	</div><!--/.container-->

</section><!--/.service-type-->
<!--service-type end -->


<!--blog start -->
<section id="blog" class="blog"></section><!--/.blog-->
<!--blog end -->