<!--contact start-->
<footer id="contact"  class="contact">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="{{ asset:url }}assets/images/brand/NCbiz_footer_logo.png">
                            </a>
                        </div>
                        <p>
                            142 Two Pacific Place Unit 1101 11F, Sukhumvit Road, Khlongtoei, Khlongtoei, Bangkok 10110 THAILAND
                        </p>
                        <div class="footer-contact">
                            <p>info@nc-bizcenter.com</p>
                            <p>+66 (0) 22541801 EXT 12</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="single-footer-widget">
                        <h2>NC Biz Center (Thailand)</h2>
                        <ul>
                            <li><a href="#">会社概要</a></li>
                            <li><a href="#">自治体向け</a></li>
                            <li><a href="#">企業向け <span> of service</span></a></li>
                            <li><a href="#">ニュース</a></li>
                            <li><a href="#">問い合わせ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="single-footer-widget">
                        <h2>連携会社</h2>
                        <div class="row">
                            <div class="col-md-7 col-xs-6">
                                <ul>
                                    <li><a href="https://corporate.nc-net.com/">NC Network Japan</a></li>
                                    <li><a href="https://corporate.nc-net.com/company/overseas.html">NC Network Asia</a></li>
                                    <li><a href="https://corporate.nc-net.com/company/overseas.html">NC Network Vietnam</a></li>
                                    <li><a href="https://www.alberryasia.co.th/jp/">Alberry Asia</a></li>
                                    <li><a href="https://about.fna.cn/company/">Factory Network (China)</a></li>
                                </ul>
                            </div>
                            <div class="col-md-5 col-xs-6">
                                <ul>
                                    <li><a href="https://ja.nc-net.or.jp/?cntry=764">工場検索</a></li>
                                    <li><a href="https://th.emidas-magazine.com/ja">マガジン</a></li>
                                    <li><a href="https://emidas.jp/">ソーシング</a></li>
                                    <li><a href="https://fbcasean.com/jp/">ものづくり商談会</a></li>
                                    <li><a href="https://fbcasean2023.jtech-showroom.com/ja/">J-Tech Showroom</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h2>メルマガ申し込み</h2>
                        <div class="footer-newsletter">
                            <p>
                                最新のニュースを配信しております。
                            </p>
                        </div>
                        <div class="hm-foot-email">
                            <div class="foot-email-box">
                                <input type="text" class="form-control" placeholder="メールアドレス">
                            </div><!--/.foot-email-box-->
                            <div class="foot-email-subscribe">
                                <span><i class="fa fa-arrow-right"></i></span>
                            </div><!--/.foot-email-icon-->
                        </div><!--/.hm-foot-email-->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        &copy; copyright.designed and developed by <a href="https://www.themesine.com/">themesine</a>.
                    </p><!--/p-->
                </div>
                <div class="col-sm-6">
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>	
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>	
                    </div>
                </div>
            </div>
        </div><!--/.footer-copyright-->
    </div><!--/.container-->

    <div id="scroll-Top">
        <div class="return-to-top">
            <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
        </div>
        
    </div><!--/.scroll-Top-->
    
</footer><!--/.contact-->
<!--contact end-->