<!--service-head start -->
<section id="home" class="service-head">

    <!-- top-area Start -->
    <div class="top-area">
        <div class="header-area">
            {{ partial:navbar }}
        </div><!--/.header-area-->
        <div class="clearfix"></div>

    </div><!-- /.top-area-->
    <!-- top-area End -->

    <div class="container">
        <div class="service-head-txt">
            <h2>{{ title }}</h2>
        </div>
    </div>

</section><!--/.service-head-->
<!--service-head end -->