<div class="header-area">
    <!-- Start Navigation -->
    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

        <div class="container">

            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>

            </div><!--/.navbar-header-->
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <img class="nclogo" src="{{ site:url }}assets/images/services/service-logo.png">
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li><a href="{{ site:url }}">ホームページ</a></li>
                    <li><a href="{{ site:url }}about-us">会社案内</a></li>
                    <li><a href="{{ site:url }}organization-services">自治体向け</a></li>
                    <li><a href="{{ site:url }}company-services">企業向け</a></li>
                    <li><a href="{{ site:url }}all-news">ニュース</a></li>
                    <li><a href="{{ site:url }}contact-us">問い合わせ</a></li>
                </ul><!--/.nav -->
            </div><!-- /.navbar-collapse -->
        </div><!--/.container-->
    </nav><!--/nav-->
    <!-- End Navigation -->