<!--welcome-hero start -->
<section id="home" class="welcome-hero">

    <!-- top-area Start -->
    <div class="top-area">
        <div class="header-area">
            {{ partial:navbar }}
        </div><!--/.header-area-->
        <div class="clearfix"></div>

    </div><!-- /.top-area-->
    <!-- top-area End -->

    <div class="container">
        <div class="welcome-hero-txt">
            {{ content | widont }}
            <button class="welcome-btn" onclick="window.location.href='#'">問い合わせ</button>
        </div>
    </div>			

</section><!--/.welcome-hero-->
<!--welcome-hero end -->