{{ partial:partials/head }}

<section id="service-type" class="service-type">
	<div class="container">
		<div class="section-header">
			<h2>{{ title }}</h2>
			<p>{{ description }}</p>
		</div><!--/.section-header-->
	</div>
</section>

<!--service start -->
<section id="service" class="service">
	<div class="container">
		<div class="service-content">
			<div class="row">
				{{ collection from={collection-name} limit="5" }}
				<div class="col-md-4 col-sm-6">
					<div class="single-service-item">
						<a href="{{ url }}">
							{{ service_image }}
							<img src="{{ url }}">
							{{ /service_image }}
						</a>
						<h2><a href="{{ url }}">{{ title }}</a></h2>
						<p>
							{{ service_description }}
						</p>
					</div>
				</div>
				{{ /collection }}
			</div>
		</div>
	</div>
	<!--/.container-->

</section><!--/.service-->
<!--service end-->